<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="aservice" class="com.bycsmys.mini.spring.ioc.model.AServiceImpl"/>

    <bean id="aserviceset" class="com.bycsmys.mini.spring.ioc.model.AServiceSetImpl">
        <property type="String" name="property1" value="Hello world"/>
    </bean>


    <bean id="aserviceconstruct" class="com.bycsmys.mini.spring.ioc.model.AServiceConstructImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
    </bean>

    <bean id="aservicesetandcontruct" class="com.bycsmys.mini.spring.ioc.model.AServiceSetAndConstructImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
    </bean>

    <bean id="aserviceref" class="com.bycsmys.mini.spring.ioc.model.AServiceRefImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="com.bycsmys.mini.spring.ioc.model.BaseService" name="ref1" ref="baseservice"/>
    </bean>

    <bean id="baseservice" class="com.bycsmys.mini.spring.ioc.model.BaseService">
<!--        <property type="model.com.bycsmys.mini.spring.ioc.BaseBaseService" name="bbs" ref="basebaseservice"/>-->
    </bean>

    <bean id="bbs" class="com.bycsmys.mini.spring.ioc.model.BaseBaseService">
        <property type="com.bycsmys.mini.spring.ioc.model.AServiceRef" name="as" ref="aserviceref"/>
    </bean>





</beans>